<div id="main">
	<div id="header">
		Flight Search Engine
	</div>
	<div id="side-nav">
		<div class="search">
			<input type="text" name="originCity" placeholder="Enter Origin City"/>
			<input type="text" name="destinationCity"  placeholder="Enter Destination City"/>
			<input type="date" name="depatureDate" placeholder="Depature Date"/>
			<input type="date" name="returnDate" placeholder="Return Date"/>
			<input type="number" name="passengerCount" placeholder="Passengers"/>
			<button>Search</button>
		</div>
	</div>
	<div id="side-nav-content">
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>